data/
cancdetect_transfer_inception_v3.weights.best.hdf5
cancdetect_transfer_resnet50.weights.best.hdf5
cancdetect_transfer_vgg16.weights.best.hdf5
cancdetect_transfer_vgg19.weights.best.hdf5
cancdetect_transfer_xception.weights.best.hdf5
bottleneck_test_inception_v3_cancdetect
bottleneck_test_resnet50_cancdetect
bottleneck_test_vgg16_cancdetect
bottleneck_test_vgg19_cancdetect
bottleneck_test_xception_cancdetect
bottleneck_train_inception_v3_cancdetect
bottleneck_train_resnet50_cancdetect
bottleneck_train_vgg16_cancdetect
bottleneck_train_vgg19_cancdetect
bottleneck_train_xception_cancdetect
bottleneck_valid_vgg19_cancdetect
bottleneck_valid_xception_cancdetect
bottleneck_valid_inception_v3_cancdetect
bottleneck_valid_resnet50_cancdetect
bottleneck_valid_vgg16_cancdetect
